/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: white;
}


img{
    max-width: 100%;
}

.clearfix{
    display: table;
    clear: both;
    content: '';
}


/*Utils*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.content{
    height: calc(100vh - 80px);
    display: flex;
}

/*HEADER*/
header{
    background-color: rgba(8,11,18, 0.2);
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    position: relative;
}

.btn{
    color: white;
    background-color: #080B12;
    border: 1px solid white;
    padding: 15px 25px;
    border-radius: 20px;
    font-size: 12px;
    position: absolute;
    top: 15px;
    right: 0;
    cursor: pointer;

}

.btn:hover{
    transition: 1s;
    transform: scale(2);
}

/*SIDEBAR*/
.sidebar{
    background-color: black;
    flex-basis: 220px;
    flex-shrink: 0;
}

.sidebar .logo{
    width: 80%;
    padding: 20px 20px ;
}

.sidebar li img{
    width: 20%;
    padding-left: 20px;
    vertical-align: middle;
    margin-bottom: 10px;
}

.sidebar a{
    text-decoration: none;
    color: #9E9D9E;
    font-size: 12px;
    padding-left: 5px;
}

.sidebar h5{
    margin-top: 15px;
    padding-left: 20px;
}

.sidebar .fa-plus{
    color: black;
    background-color: #9E9D9E;
    padding: 10px 10px;
}

.sidebar .playlist li{
    padding-left: 20px;
    margin-top: 15px;
    font-size: 12px;
    color: #9E9D9E;
}

.sidebar p{
    color: #9E9D9E;
    font-size: 12px;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 100px;
    cursor: pointer;
}

.sidebar hr{
    color: #9E9D9E;
    margin-left: 20px;
    width: 80%;
}

.sidebar span{
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.sidebar .profile{
    width: 20px;
    background-color: #9E9D9E;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;   
}

.sidebar p:hover{
    color: white;
}

.sidebar a:hover{
    color: white;
}

.sidebar li:hover{
    color: white;
}

.sidebar .fa-plus:hover{
    background-color: white;
}

/*MAIN*/
main{
    background-color: #141922;
    flex-grow: 1;
    overflow: auto;
}

.main-navbar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
    margin-top: 15px;
  }
  
  .main-navbar li {
      list-style-type: none;
      display: inline;
      padding: 0 10px;
  }
  
  .main-navbar a{
      text-decoration: none;
      color: #9E9D9E;
      font-size: 14px;
  }

  .main-navbar a:hover{
    color: white;
}

  /* First section playlist*/

.gallery{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

section h2{
    margin-top: 35px;
    margin-left: 15px;
}

li{
    list-style-type: none;
}

.wrap-playlist img{
    margin-top: 25px;
}

.wrap-playlist h4{
    margin-top: 10px;
}

.wrap-playlist .subtitle{
    margin-top: 10px;
    font-size: 14px;
    color: #9E9D9E;
}

.gallery li{
    flex-basis: 50%;
    padding: 0 10px;
}

/*Second section playlist*/
.subtitle-release{
    color: #9E9D9E;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 15px;
}

/*Third section playlist*/
.image-circle{
    border-radius: 50%;
}

/*FOOTER*/
footer{
    background-color: #282828;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*First colum footer*/
.colums{
    display: flex;
    flex-wrap: wrap;
}

.colums img{
    width: 60px;
    margin-top: 15px;
    margin-left: 10px;
}

.text-song{
    padding-left: 10px;
    padding-top: 30px;
}

.colums .text-song .subtitle{
    color: #9E9D9E;
    font-size: 12px;
    padding-right: 10px;
}

.colums .far{
    padding: 30px 10px;
    color: #9E9D9E;
}

.colums .far:hover{
    color: white;
}

/*Second colum footer*/
.colums-center{
    display: flex;
    flex-wrap: wrap;
}

.colums-center .control{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.colums-center .control .fas{
    padding: 0 20px;
}

/*Third colum footer*/
.colums .fas{
    padding: 0px 15px;
    font-size: 12px;
    cursor: pointer;
}

.progress-bar{
    background-color: #9E9D9E;
    height: 3px;
    border-radius: 5px;
    width: 150px;
    margin-top: 5px;
    margin-right: 10px;
    position: relative;
}



/*MEDIA QUERY*/
@media screen and (min-width:576px) {
    
}

@media screen and (min-width:768px) {
    
}

@media screen and (min-width: 992px){
    .gallery li{
        flex-basis: calc(100% / 6);
    }
}
  