/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    color:white;
}

.clearfix{
    display: table;
    clear: both;
    content: '';
}


/*Utils*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.content{
    height: calc(100vh - 80px);
    display: flex;
}

/*HEADER*/
header{
    background-color: #080B12;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    position: relative;
}

.btn{
    color: white;
    background-color: #080B12;
    border: 1px solid white;
    padding: 15px 25px;
    border-radius: 20px;
    font-size: 12px;
    position: absolute;
    top: 15px;
    right: 0;
    cursor: pointer;

}

/*SIDEBAR*/
.sidebar{
    background-color: black;
    flex-basis: 220px;
    flex-shrink: 0;
}

/*MAIN*/
main{
    background-color: #141922;
    flex-grow: 1;
}

/*FOOTER*/
footer{
    background-color: #282828;
    height: 80px;
}